@charset "UTF-8";

.blackboard {
 width: 200px;
 height: 50px;
 position: relative;
 margin: 0 auto 0.5rem;
 font-size: 1.0rem;
 color: #fff;
 border: 2px solid #000;
 border-radius: 5px;
 box-shadow: 0 0 0 4px #fff inset;
 background-color: rgba(0,0,0,0.9);
}